
{% extends 'maitreUsage.html' %} 
{% load crispy_forms_tags %}

{% block titre %} 
   Créer un compte
{% endblock %}

{% block contenu %}  
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Formulaire d'enregistrement</div>
                <div class="card-body">
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}