{% extends 'maitreUsage.html' %} 

{% block titre %} 
    <h1 class="display-4">Login</h1>
{% endblock %}

{% block contenu %}  
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <table class="table">
                            {{ form.as_table }}
                        </table>
                        <button type="submit" class="btn btn-primary mt-3">Login</button>
                    </form>
                    <p class="mt-2">Vous n'avez pas de compte ? <a href="{% url 'enregistrement' %}">Enregistrez-vous</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
